START
PUSHN 4
READ
ATOI
STOREG 3
READ
ATOI
STOREG 0
READ
ATOI
STOREG 1
PUSHI 0
STOREG 2
PUSHG 3
PUSHG 0
SUP
JZ L4
JUMP L0
L0: PUSHG 3
PUSHG 1
SUP
JZ L4
JUMP L3
MUL
L3: PUSHG 3
STOREG 2
JUMP L5
L4: PUSHG 0
PUSHG 1
SUP
JZ L2
JUMP L1
L1: PUSHG 0
STOREG 2
JUMP L5
L2: PUSHG 1
STOREG 2
L5: PUSHS "Maior idade: "
WRITES
PUSHG 2
WRITEI
STOP
