START
PUSHN 2
PUSHN 4
PUSHI 5
STOREG 1
PUSHI 0
STOREG 3
L0: PUSHS "Altura: "
WRITES
READ
ATOI
STOREG 4
PUSHG 3
PUSHG 4
ADD
STOREG 3
PUSHG 1
PUSHI 1
SUB
STOREG 1
L1: PUSHG 1
PUSHI 0
SUP
JZ L2
JUMP L0
JUMP L1
L2: PUSHS "Media: "
WRITES
PUSHG 3
PUSHG 0
DIV
WRITEI
STOP
