START
PUSHN 6
READ
ATOI
STOREG 5
PUSHG 5
PUSHI 5
PUSHG 5
PUSHI 50
MUL
PUSHI 10
DIV
SUB
MUL
STOREG 1
PUSHG 5
PUSHI 10
MUL
STOREG 0
PUSHG 5
PUSHG 0
MUL
PUSHG 1
DIV
STOREG 1
PUSHI 4
PUSHG 4
ADD
STOREG 1
PUSHG 5
WRITEI
PUSHG 0
WRITEI
PUSHG 1
WRITEI
STOP
