START
PUSHN 3
PUSHN 2
READ
STOREG 3
READ
ATOI
STOREG 2
PUSHG 3
PUSHS "ok"
EQUAL
JZ L1
JUMP L0
L0: PUSHG 2
PUSHG 0
DIV
STOREG 1
JUMP L2
L1: PUSHI 0
STOREG 1
PUSHS "Invalid entry"
WRITES
L2: PUSHG 1
WRITEI
STOP
