START
PUSHN 1
READ
ATOI
STOREG 0
L0: PUSHG 0
PUSHI 2
SUB
STOREG 0
L1: PUSHG 0
PUSHI 2
SUPEQ
JZ L4
JUMP L0
JUMP L1
L4: PUSHG 0
PUSHI 0
EQUAL
JZ L3
JUMP L2
L2: PUSHS " é par."
WRITES
JUMP L5
L3: PUSHS " é ímpar."
WRITES
L5: STOP
